body{
    margin: 0;
}
.banner{
    height: 100dvh;
    width:100%;
    background-image: url(enter.jpg);
    background-size: 100% 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center
}

.text{
    margin-right: 5.1rem;
    width:fit-content;
    padding: 2rem;
    text-align: center;
}
.text a{
    font-family: "Righteous", sans-serif;
    font-size:2rem;
    color: #61188E;
    text-decoration: none;
    text-align: center;
}

.text a:hover{
    font-size: 3rem;
    color: #8B3FBA;
}

.block{
    height: 25dvh;
    display:none;
    background-image: url(enter.jpg);
}

@media only screen and (max-width:1000px){
    .text a{
        font-size: 1.5rem;
    }
    .text a:hover{
        font-size: 1.7rem;
    }
}
@media only screen and (max-width: 734px){
    .text a{
        font-size: 1rem;
        
    }
    .text a:hover{
        font-size: 1.3rem;
    }
    .text{
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 690px){
    .block{
        display: block;
    }
    .banner{
        height: 50dvh;
    }

    
}