body{
    margin:0;
}

*{
    box-sizing: border-box;
    /*border: solid red 1px;*/
}

header{
    background-color:rgba(255,255,255, .5);
    width: 80%;
    position:fixed;
    top: 1rem;
    left:10%;
    border-radius: 9999px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right:2rem;
}

nav a{
color: black;
text-decoration: none;
}

.nav-mywork{
    margin-left:2rem;
}

.nav-contact{
}

#banner{
    height: 100dvh;
    background-image: url(main.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    font-size: 5rem;
    margin-top: 10rem;
}

#projects{
    height: 100dvh;
    background-image: url(projects.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:100%;
    padding-top: 8rem;
    background-color: blue;
}

#projects h2{
    color: white;
    font-size: 5rem;
    width:100%;
    text-align: center;
    line-height: 1em;
    height:1em;
}

.portfolio{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    align-items: center;
    overflow-x: scroll;
    overflow-y:hidden;
    gap: 2rem;
}
.project{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    border-radius: 10%;
    overflow: hidden;
}

.project-1{
    background-image: url(folk-club.jpg);
    
}
.cover{
    background-color: rgba(0,0,0,.4);
    height:110%;
    width:100%;
    margin-top: -21.5px;
    display: none;
    align-items: center;
    text-align: center;
    color:white;
}
.cover p{
    margin-left: 1rem;
    margin-right: 1rem;
}
.project-1 a:hover{
    text-decoration: none;
}
.project-2{
    background-image: url(camp.jpg);
}
.project-3{
    background-image: url(candy.jpg);
}
.project-4{
    background-image: url(igloo.jpg);
}
.project-5{
    background-image: url(panda.jpg);
}

.portfolio h3{
    text-align: center;
    margin-top: 0;
    background-color: rgba(255,255,255, .5);
    margin-bottom:0;
}


#contact{
    background-image: url(contact.jpg);
    background-size: 100% 100%;
    height: 100dvh;
    width: 100%;
    background-repeat: no-repeat;
}


.social {
    display:grid;
    grid-auto-flow: row;
    justify-items: center;
    margin-top: 3rem;
}
.fab{
    font-size: 5rem;
    color: white;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.email{
    color: white;
    font-size: 2rem;
    text-align: center;
    align-self: end;
    background-color: rgba(112, 128, 144,.5);
    width: fit-content;
    padding:1rem;
}

  #contact h2{
    color: white;
    font-size: 5rem;
    width:100%;
    text-align: center;
    padding-top: 10rem;
    margin:0;
  }

  @media only screen and (max-width: 1062px){
    .cover{
        margin-top:-43px;
    }
  }

  @media only screen and (max-width: 800px){
    h1{
        width: 30rem;
        text-align: center;
        margin-top: 10rem;
    }

    .portfolio{
        height:30%;
        margin-top: 6rem;
    }

    .projects h2{
    }
  }

  @media only screen and (max-width: 650px){
    h1{
        font-size: 3rem;
        width: 18rem;
    }
    nav h2{
        font-size: 1rem ;
    }
    nav h3{
        font-size: .8rem;
    }

    #projects{
        padding-top: 3rem;
    }

    #projects h2{
        font-size: 2.5rem;
    }

    #contact h2{
        font-size: 3rem;
    }
    .fab{
        font-size: 3rem;
    }
    .email{
        font-size: 1rem;
    }

    .portfolio{
        grid-auto-flow: row;
        grid-auto-rows: 75%;
        height: 80%;
        grid-template-columns: 85%;
        overflow: scroll;
        margin-top:2rem;
        justify-content: center;
        width: 90%;
    }
    
  }

  @media only screen and (max-width:990px){
   
  }